[Unit]
Description=IndoorAirQualityProject Service
After=network.target

[Service]
Environment=IOTHUB_DEVICE_CONNECTION_STRING="HostName=IAQ.azure-devices.net;DeviceId=IndoorAirQualityProject;SharedAccessKey=85dnfhBSJEYE/4PrOWGpO7N2S8fVSTYuxRfPfftJHnRrjohn="
Type=idle
WorkingDirectory=/home/akhrs/IndoorAirQualityProject/
ExecStart=/usr/bin/python3.9 /home/akhrs/IndoorAirQualityProject/runner.py > /home/akhrs/IndoorAirQualityProject/runnerLog.log 2>&1
Restart=on-failure
User=akhrs

[Install]
WantedBy=multi-user.target